@font-face {
font-family: 'Brandon Grotesque Light';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Light'), url('./fonts/brandon-grotesque-light.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Black';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Black'), url('./fonts/brandon-grotesque-black.woff') format('woff');
}

@font-face {
font-family: 'Brandon Grotesque Bold';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Bold'), url('./fonts/brandon_bld-webfont.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Medium';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Medium'), url('./fonts/brandon-grotesque-medium.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Medium Italic'), url('./fonts/brandon-grotesque-medium-italic.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Light Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Light Italic'), url('./fonts/brandon-grotesque-light-italic.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Bold Italic'), url('./fonts/brandon-grotesque-bold-italic.woff') format('woff');
}

@font-face {
font-family: 'Brandon Grotesque Regular';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Regular'), url('./fonts/brandon-grotesque-regular.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Regular Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Regular Italic'), url('./fonts/brandon-grotesque-regular-italic.woff') format('woff');
}


@font-face {
font-family: 'Brandon Grotesque Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Brandon Grotesque Thin Italic'), url('./fonts/brandon-grotesque-thin-italic.woff') format('woff');
}